.center-navbar {
    width:30%;
    margin-left: 35vw;
    font-size: 30px !important;
}

i {
    margin-right: 5px;
}

.top-space, .side-space {
    width: 80%;
    margin-top: 50px;
    margin-left: 5px;
}

.side-space {
    width: 20%;
    margin-left: 0px;
}

.leaflet-container {
    width: 100wh; 
    height: 80vh;
  }

.rowC {
    display:flex; 
    flex-direction:row
}

.field-style {
    margin-bottom: 15px;
}

.logsign {
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    text-align: center;
    margin-top: 30px;
}

.logsignButton {
    width: 40%; 
    margin-bottom: 15px;
    margin-top: 15px;
}
.logsignHeader {
    background-color: brown;
    color: aliceblue;
    width: 100%;
    margin-top: -1px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}
.logsignField {
    margin-top: 15px; 
    margin-bottom: 15px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}